@font-face {
  font-family: "Raleway";
  src: local("Raleway-Regular"),
    url("../public/fonts/Raleway-Regular.woff2") format("woff2"),
    url("../public/fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-Medium"),
    url("../public/fonts/Raleway-Medium.woff2") format("woff2"),
    url("../public/fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-Bold"),
    url("../public/fonts/Raleway-Bold.woff2") format("woff2"),
    url("../public/fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: local("Bahnschrift-Light"),
    url("../public/fonts/Bahnschrift-Light.woff2") format("woff2"),
    url("../public/fonts/Bahnschrift-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: local("Bahnschrift-Regular"),
    url("../public/fonts/Bahnschrift-Regular.woff2") format("woff2"),
    url("../public/fonts/Bahnschrift-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: local("Bahnschrift-Bold"),
    url("../public/fonts/Bahnschrift-Bold.woff2") format("woff2"),
    url("../public/fonts/Bahnschrift-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

p {
  margin: 0;
}